# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# jest
.jest
coverage
junit.xml

# ESLint
eslint_code_quality_report.json
.eslintcache

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# dependencies
node_modules/

# build
dist
.versionrc

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# direnv
.envrc
