.yarnrc.yml
eslint.config.ts
.prettierrc
.gitignore
.gitattributes
.yarn
lefthook.yml
configs
tsconfig.json
src
node_modules
yarn-error.log
docs
.eslintignore
.gitlab-ci.yml
.idea
.versionrc
android
ios
index.js
babel.config.js
metro.config.js
Gemfile
Gemfile.lock
tsconfig.build.json
.expo
scripts
.storybook
app.config.js
app.config.ts
*.apk
icon.png
splash.png
*.zip
fastlane
CONTRIBUTING.md
!**/index.js
jest.config.ts
jest.d.ts
jest.setup.ts
.commitlintrc.json
src/components/Avatar/testImage.png
expo
.xcode-version
.ruby-version
.secrets
.node-version
.java-version
.prettierignore
.vscode
xcode-installation.png
configs