name: Debug

on:
  workflow_dispatch:

permissions: read-all

jobs:
  debug:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.ADD_TO_PROJECT_PAT }}
    steps:
      - name: Debug
        run: |
          if ! gh api "orgs/cdek-it/teams/react-native-release/memberships/$GITHUB_ACTOR" --silent 2>/dev/null; then
            echo "❌ Этот workflow может быть запущен только участниками команды release"
            exit 1
          fi
