name: Debug

on:
  workflow_dispatch:

permissions: read-all

jobs:
  debug:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Debug
        run: |
          gh api "orgs/cdek-it/teams/react-native-release/memberships/$GITHUB_ACTOR"
