name: Performance Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test_performance:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js with Dependencies
        uses: ./.github/actions/setup-node

      - name: Test
        run: yarn test
